@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Dekko", cursive;
}

:root {
    --cor-fonte: #F8BDEB;
    --cor-fundo: #072541;
    --cor-fundo2: #FBECB2;
}

body {
    background: url("../img/Balões\ coloridos.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;

    overflow: hidden;
}

.perfil_img {
    width: 30vw;
    margin-top: 15%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
    margin-top: 30%;
}

form div {
    display: flex;
    flex-direction: column;
    color: var(--cor-fundo);
}

form div input {
    background-color: var(--cor-fundo);
    color: #FBECB2;
    width: 65vw;
    height: 4vh;
    padding: 2%;
    border: 0%;
    border-radius: 8vw;
}

form div button {
    background-color: var(--cor-fundo);
    width: 70vw;
    margin-top: 10%;
    padding: 7%;
    border: 0;
    border-radius: 1vw;
    color: var(--cor-fonte);
    font-size: 2rem;
    border-radius: 8vw;
}

/* Estilos para o footer e ondas */
footer {
    position: relative;
    width: 80vw;
    height: 16vh;
    /* overflow: hidden; */
}

.wave {
    position: absolute;
    width: 600%;
    height: 165%;
    background-repeat: repeat-x;
    background-size: 50% 100%;
    opacity: 0.5;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23072541" fill-opacity="1" d="M0,224L48,208C96,192,192,160,288,165.3C384,171,480,213,576,213.3C672,213,768,171,864,138.7C960,107,1056,85,1152,101.3C1248,117,1344,171,1392,197.3L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
    animation: animateWave 4s linear infinite;
}

footer i {
    position: relative;
    /* top: 27%; */
    z-index: 20;
    font-size: 2rem;
    margin-left: 27%;
    color: white;
}

/* Diferentes configurações para cada onda para dar um efeito de movimento */
#wave1 {
    z-index: 0;
    opacity: 1;
    animation-delay: 0s;
    bottom: 20px;
}

#wave2 {
    z-index: 2;
    opacity: 0.85;
    animation-delay: -1s;
    bottom: 10px;
}

#wave3 {
    z-index: 3;
    opacity: 0.75;
    animation-delay: -2s;
    bottom: 5px;
}

#wave4 {
    z-index: 4;
    opacity: 0.65;
    animation-delay: -3s;
    bottom: 0;
}

@keyframes animateWave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}